_wip/
_res/
release/
*.code-workspace
.idea/
Breach.exe
maps/
licenses/
resources/
!resources/mods
shadersOGL/
mods/*
!mods/put_mods_here
scripts/*
!scripts/mod_loader.lua
!scripts/mod_loader.lua.bak
!scripts/mod_loader
fmod.dll
fmodstudio.dll
steam_api.dll
vcruntime140.dll
modloader.log
error.txt
