[submodule "scripts/mod_loader/extensions/memedit"]
	path = scripts/mod_loader/extensions/modLoaderExtensions/mods/memedit
	url = git@github.com:itb-community/memedit.git
[submodule "scripts/mod_loader/extensions/modApiExt"]
	path = scripts/mod_loader/extensions/modLoaderExtensions/mods/modApiExt
	url = git@github.com:itb-community/ITB-ModUtils.git
[submodule "scripts/mod_loader/extensions/easyEdit"]
	path = scripts/mod_loader/extensions/modLoaderExtensions/mods/easyEdit
	url = git@github.com:itb-community/ITB-Easy-Edit.git
